---
import { MailIcon, PhoneIcon } from 'lucide-react';

interface Props {
  variant: 'default' | 'secondary';
}

const { variant = 'default' } = Astro.props;
---

{
  variant === 'default' && (
    <section class="mx-auto max-w-3xl text-center">
      <div class="rounded-3xl bg-linear-to-r from-orange-100 to-rose-100 p-8 md:p-12">
        <h3 class="mb-4 text-orange-900">Zainteresowany Szczeniakiem?</h3>
        <p class="mb-6 text-orange-800">
          Odwiedź sekcję z naszym miotem lub skontaktuj się z nami bezpośrednio.
        </p>
        <div class="flex flex-wrap justify-center gap-4">
          <a
            href="/miot"
            class="rounded-full bg-orange-900 px-6 py-3 text-white transition-colors hover:bg-orange-800"
          >
            Zobacz Szczeniaki
          </a>
        </div>
      </div>
    </section>
  )
}

{
  variant === 'secondary' && (
    <section class="mx-auto max-w-3xl text-center">
      <div class="rounded-3xl bg-linear-to-r from-orange-100 to-rose-100 p-8 md:p-12">
        <h3 class="mb-4 text-orange-900">Zainteresowany Szczeniakiem?</h3>
        <p class="mb-6 text-orange-800">
          Skontaktuj się z nami, aby umówić wizytę i poznać nasze szczeniaki osobiście. Chętnie
          odpowiemy na wszystkie Twoje pytania!
        </p>
        <div class="flex flex-wrap justify-center gap-4">
          <a
            href="tel:514206744"
            class="flex h-fit items-center justify-center gap-2 rounded-full bg-orange-900 px-6 py-3 text-white transition-colors hover:bg-orange-800"
          >
            <PhoneIcon className="size-4" /> Zadzwoń: 514 206 744
          </a>
          <a
            href="mailto:bukowski_kamil@wp.pl"
            class="flex h-fit items-center justify-center gap-2 rounded-full bg-white px-6 py-3 text-orange-900 transition-colors hover:bg-orange-50"
          >
            <MailIcon className="size-4" /> Napisz email
          </a>
        </div>
      </div>
    </section>
  )
}
