---
import HeadingOne from './typography/HeadingOne.astro';
---

<section class="mb-20 flex flex-col items-center justify-center gap-10 md:flex-row md:gap-20">
  <div class="flex max-w-[500px] flex-col gap-4">
    <HeadingOne title="La Mia Luna Fci" />
    <span class="text-lg">
      Witamy w naszej domowej hodowli. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer sit amet mattis dolor, quis pharetra eros. Donec congue risus id urna facilisis, ac
      cursus mi ullamcorper.
    </span>
  </div>

  <img
    src="/images/hero.webp"
    alt="Witamy w La Mia Luna FCI"
    class="h-auto max-w-[500px] rounded-4xl object-cover shadow-2xl"
  />
</section>
